html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

h2 {
    font-size: 2.8rem !important;
    font-weight: 700;
}

img {
    display: block;
    max-width: 100%;
}

a,
button {
    cursor: pointer;
}

textarea:focus, input:focus {
    outline: none;
}

.jumbotron {
    margin-bottom: 0 !important;
}

.atlas-cta {
    border-radius: 22px !important;
    padding: 12px 30px !important;
    font-weight: 700;
    transition: .3s ease-in-out !important;
}

.atlas-cta:hover {
    text-decoration: none;
    transform: translateY(-5px);
}

.atlas-cta-wide {
    width: 100%;
}

.cta-green {
    /* Previous setting */
    /* background: #00FFAD; */
    /* color: #192440; */

    /* New setting */
    /* background: #0072ff; */    
    background: #0072ff;
    color: #ffffff;

}

.cta-green:hover {
    color: #ffffff;
    /* Old background */
    /* background: #00e69c; */

    /* New background */
    background: #00a2ff;
}

.cta-blue {
    background: #192440;
    color: #ffffff;
}

.cta-blue:hover {
    color: #ffffff;
    background: #121a2e;
}

.cta-ghost {
    border: 2px solid #192440 !important;
    color: #192440;
}

.cta-ghost:hover {
    color: #ffffff;
    background: #121a2e;
}
/* For Candidates BEGIN */
.how-it-works-color {
    color: #0072ff;
}

.screening-options-img {
    max-width: 150px;
}

.steps-img {
    max-width: 50px;
    padding-bottom: 10px;
}

.bottom-input {
    width: 100% !important;
}

/* For Candidates END */
/* Employer Page Styles BEGIN */
.for-companies-link {
    text-decoration: underline;
}

.employer-header {
    letter-spacing: -.6px;
    line-height: 1.05;
    color: #000000;
}

.how-we-do-it-section {
    padding-top: 35px;    
}

.how-we-do-it-description {
    padding-top: 20px;

}

.how-we-do-it-description-img {
    width: 118px;
    height: 118px;
}

.value-prop-desc {
    font-weight: 600;
}

.value-prop-img {
    max-width: 250px;
    width: 100%;
}

/* Employer Page Styles END */


/* For Email Input BEGIN */
.s1-txt1 {
    font-size: 15px;
    color: #555;
    line-height: 1.2;
}

.placeholder0::-webkit-input-placeholder {
    color: #999999;
}

.placeholder0:-moz-placeholder {
    color: #999999;
}

.placeholder0::-moz-placeholder {
    color: #999999;
}

.placeholder0:-ms-input-placeholder {
    color: #999999;
}

.wrap-input100 {
    position: relative;
    width: 100%;
    height: 60px;
    z-index: 1;
}

.input100 {
    width: 25%;
    background: #f5f5f5;
    height: 50px;
    border-radius: 25px;
    padding: 0 20px;
    text-align: center;
}

.focus-input100 {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(0, 178, 111, 0.5);
}

.input100:focus+.focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

.s1-txt3 {
    font-size: 13px;
    color: #999;
    line-height: 1.5;
}

/* For Email Input End */


#banner {
    background-size: cover;
}

/********** banner **********/
#banner header {
    overflow: hidden;
}

#banner header img {
    /* max-width: 80px; */
}

/********** feature (skew background) **********/
/* .feature img {
    width: 100%;
    max-width: 480px;
} */

#feature-first {
    /* background: linear-gradient(168deg, #ffffff 55%, #00FFAD 0); */
    /* background: linear-gradient(168deg, #ffffff 55%, #0072ff 0); */
}

#feature-last {
    /* background: #00FFAD; */
    background: #0072ff;
}

/********** price table **********/
#price-table {
    padding-top: 4rem !important;
    /* padding-bottom: 4rem !important; */
}

#price-table__premium {
    background: #192440;
    color: #ffffff;
}

#price-table ul li {
    padding: 5px 0;
}

/********** contact **********/
#contact {
    background-size: cover;
}

#contact ul li {
    padding: 3px 0;
}

#contact form {
    /* Old setting */
    /* color: #00FFAD; */

    /* New Setting */
    color: #ffffff;
}

#contact form input,
#contact form textarea {
    background: transparent;
    /* Old Setting */
    /* border: 1px solid #00FFAD; */

    /* New Setting */
    border: 1px solid #00a2ff;

    color: #ffffff;
}

/********** copyright **********/
#copyright {
    background: #192440;
    padding: 2rem 3rem;
}

#copyright #social-media a {
    width: 40px;
    height: 40px;
    border-radius: 99%;
    background: #ffffff;
    transition: .4s ease;
}

#copyright #social-media a i {
    color: #192440;
    font-size: 1.2rem;
    line-height: 40px;
}

#copyright #social-media a:hover {
    /* background: #00FFAD; */
    background: #00a2ff;
}

#copyright #social-media a:hover i {
    color: #ffffff;
}

/********** RWD **********/
@media (max-width: 575px) {
    #banner h1 {
        font-size: 3.6rem;
    }
}